@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1{
  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
} */
 .continer{
  height: 100vh;
  /* background-color: #ff5a5a; */
 }
.wbd{

  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 2vmin;
  box-shadow: 10px 10px 10px 1px  rgb(194, 246, 245);
  width: 50vmin;
  /* border: 2px solid rgb(21, 0, 255); */
  background: aliceblue;

}
.wbd h1{
  font-size: 5vmin;
  color: black;
  /* font-size: large; */
}
.weather_info img{
  width: 15vmin;
  mix-blend-mode: color-burn;
  margin: 0 auto;

}
input{
  border-radius: 2vmin;
  padding: 1.2vmin;
  border: 1px solid black;
  border: 2px solid dotted;
}
button{
  padding: 0.5vmin 4vmin;
  border: 2px solid red;
  border-radius: 2vmin;
  /* padding: 2vmin; */
}
/* .grid > div{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-emphasis: none;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 30px;
}

.grid > div{
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid #000; */
  /* padding: 1vmin; */
  /* border-radius: 5px; */
/* } */


/* .grid{ */
  /* margin: 0 auto; */
  /* overflow: hidden; */
  /* width: 100%; */
/* } */ */

.weather-card {
  background-color: #ff5a5a;
  color: white;
  border-radius: 15px;
  border: 1px solid;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.weather-card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.weather-icon {
  font-size: 50px;
  margin: 10px 0;
}

.temperature {
  font-size: 24px;
  margin: 10px 0;
}

.temp-high {
  font-weight: bold;
}

.weather-description {
  font-size: 16px;
  color: #cccccc;
}
.weather-card input {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.weather-card {
  padding: 2vmin;
  margin: 0 auto;
  width: 20%;
  border: 2px solid ;
}